// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2024.2.0.3.0
// Netlist written on Mon Sep 15 20:36:23 2025
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/ekendrick/documents/github/e155-lab3/lab3_ek/source/impl_1/counter.sv"
// file 1 "c:/users/ekendrick/documents/github/e155-lab3/lab3_ek/source/impl_1/debounce.sv"
// file 2 "c:/users/ekendrick/documents/github/e155-lab3/lab3_ek/source/impl_1/lab3_ek.sv"
// file 3 "c:/users/ekendrick/documents/github/e155-lab3/lab3_ek/source/impl_1/numberbank.sv"
// file 4 "c:/users/ekendrick/documents/github/e155-lab3/lab3_ek/source/impl_1/scanner.sv"
// file 5 "c:/users/ekendrick/documents/github/e155-lab3/lab3_ek/source/impl_1/sevseg.sv"
// file 6 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ice40up.v"
// file 7 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ice40up.vhd"
// file 8 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 9 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 10 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 11 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 12 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 13 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 14 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 15 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ib.v"
// file 16 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 17 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 18 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 19 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ob.v"
// file 20 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 21 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 22 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 23 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/rgb.v"
// file 24 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 25 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 26 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/legacy.v"
// file 27 "c:/lscc/radiant/2024.2/ip/common/adder/rtl/lscc_adder.v"
// file 28 "c:/lscc/radiant/2024.2/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 29 "c:/lscc/radiant/2024.2/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 30 "c:/lscc/radiant/2024.2/ip/common/counter/rtl/lscc_cntr.v"
// file 31 "c:/lscc/radiant/2024.2/ip/common/fifo/rtl/lscc_fifo.v"
// file 32 "c:/lscc/radiant/2024.2/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 33 "c:/lscc/radiant/2024.2/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 34 "c:/lscc/radiant/2024.2/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 35 "c:/lscc/radiant/2024.2/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 36 "c:/lscc/radiant/2024.2/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 37 "c:/lscc/radiant/2024.2/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 38 "c:/lscc/radiant/2024.2/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 39 "c:/lscc/radiant/2024.2/ip/common/rom/rtl/lscc_rom.v"
// file 40 "c:/lscc/radiant/2024.2/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 41 "c:/lscc/radiant/2024.2/ip/pmi/pmi_add.v"
// file 42 "c:/lscc/radiant/2024.2/ip/pmi/pmi_addsub.v"
// file 43 "c:/lscc/radiant/2024.2/ip/pmi/pmi_complex_mult.v"
// file 44 "c:/lscc/radiant/2024.2/ip/pmi/pmi_counter.v"
// file 45 "c:/lscc/radiant/2024.2/ip/pmi/pmi_dsp.v"
// file 46 "c:/lscc/radiant/2024.2/ip/pmi/pmi_fifo.v"
// file 47 "c:/lscc/radiant/2024.2/ip/pmi/pmi_fifo_dc.v"
// file 48 "c:/lscc/radiant/2024.2/ip/pmi/pmi_mac.v"
// file 49 "c:/lscc/radiant/2024.2/ip/pmi/pmi_mult.v"
// file 50 "c:/lscc/radiant/2024.2/ip/pmi/pmi_multaddsub.v"
// file 51 "c:/lscc/radiant/2024.2/ip/pmi/pmi_multaddsubsum.v"
// file 52 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dp.v"
// file 53 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dp_be.v"
// file 54 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dq.v"
// file 55 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dq_be.v"
// file 56 "c:/lscc/radiant/2024.2/ip/pmi/pmi_rom.v"
// file 57 "c:/lscc/radiant/2024.2/ip/pmi/pmi_sub.v"

//
// Verilog Description of module top
//

module top (input reset, input [3:0]R, output [3:0]C, output [6:0]seg, 
            output [1:0]seg_power);
    
    wire GND_net;
    wire VCC_net;
    wire reset_c;
    wire R_c_3;
    wire R_c_2;
    wire R_c_1;
    wire R_c_0;
    wire C_c_3;
    wire C_c_2;
    wire C_c_1;
    wire C_c_0;
    wire seg_c_6;
    wire seg_c_5;
    wire seg_c_4;
    wire seg_c_3;
    wire seg_c_2;
    wire seg_c_1;
    wire seg_c_0;
    wire seg_power_c_N_99;
    (* is_clock=1, lineinfo="@2(17[8],17[11])" *) wire clk;
    wire seg_power_c;
    wire [3:0]sync_R;
    wire key_press;
    wire [3:0]R_press;
    wire [3:0]s1;
    wire [3:0]s2;
    wire [3:0]s;
    wire debounce_done;
    
    wire n4, n252, n2282, n105, n2278, n2274, n761, n329, n2268, 
        n2261;
    wire [15:0]C_c_3_N_78;
    
    wire n749, n744, n743, n2065, n7, n1071, n5, n7_adj_106, 
        n2037, n2063;
    
    VHI i2 (.Z(VCC_net));
    (* syn_instantiated=1 *) HSOSC hf_osc (.CLKHFPU(VCC_net), .CLKHFEN(VCC_net), 
            .CLKHF(clk));
    defparam hf_osc.CLKHF_DIV = "0b11";
    (* lut_function="(!(A+!(B (C+(D))+!B (C))))", lineinfo="@4(30[3],111[10])" *) LUT4 i1_4_lut (.A(n744), 
            .B(C_c_3_N_78[4]), .C(C_c_3_N_78[0]), .D(debounce_done), .Z(n2065));
    defparam i1_4_lut.INIT = "0x5450";
    (* lut_function="(!(A+!(B (C+(D))+!B (C))))", lineinfo="@4(30[3],111[10])" *) LUT4 i1_4_lut_adj_11 (.A(n744), 
            .B(C_c_3_N_78[6]), .C(C_c_3_N_78[2]), .D(debounce_done), .Z(n2063));
    defparam i1_4_lut_adj_11.INIT = "0x5450";
    (* lut_function="(A (B (C+(D))+!B (C))+!A (B (D)))" *) LUT4 i1937_4_lut (.A(C_c_3_N_78[0]), 
            .B(C_c_3_N_78[4]), .C(n761), .D(n2268), .Z(n2278));
    defparam i1937_4_lut.INIT = "0xeca0";
    (* lineinfo="@2(30[12],33[5])" *) FD1P3XZ sync_R__i0 (.D(R_c_0), .SP(VCC_net), 
            .CK(clk), .SR(n4), .Q(sync_R[0]));
    defparam sync_R__i0.REGSET = "RESET";
    defparam sync_R__i0.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B (C+(D))+!B (C))+!A (B (D)))" *) LUT4 i1933_4_lut (.A(C_c_3_N_78[1]), 
            .B(C_c_3_N_78[5]), .C(n761), .D(n2268), .Z(n2274));
    defparam i1933_4_lut.INIT = "0xeca0";
    (* lineinfo="@2(30[12],33[5])" *) FD1P3XZ sync_R__i3 (.D(R_c_3), .SP(VCC_net), 
            .CK(clk), .SR(n4), .Q(sync_R[3]));
    defparam sync_R__i3.REGSET = "RESET";
    defparam sync_R__i3.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B (C+(D))+!B (C))+!A (B (D)))" *) LUT4 i1941_4_lut (.A(C_c_3_N_78[2]), 
            .B(C_c_3_N_78[6]), .C(n761), .D(n2268), .Z(n2282));
    defparam i1941_4_lut.INIT = "0xeca0";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=10, LSE_RCOL=50, LSE_LLINE=43, LSE_RLINE=43, lineinfo="@2(43[10],43[50])" *) counter_U0 counter2 (clk, 
            n329, seg_power_c, n4, n7);
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 i22_3_lut (.A(n749), 
            .B(n2268), .C(C_c_3_N_78[3]), .Z(n7_adj_106));
    defparam i22_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B (C+(D))+!B (C))+!A (B (D)))" *) LUT4 i1_4_lut_adj_12 (.A(C_c_3_N_78[3]), 
            .B(C_c_3_N_78[7]), .C(n761), .D(n7_adj_106), .Z(n2037));
    defparam i1_4_lut_adj_12.INIT = "0xeca0";
    (* lut_function="(A+(B))", lineinfo="@2(30[12],33[5])" *) LUT4 i1_2_lut (.A(sync_R[1]), 
            .B(n743), .Z(n744));
    defparam i1_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_adj_13 (.A(C_c_3_N_78[7]), 
            .B(debounce_done), .Z(n5));
    defparam i1_2_lut_adj_13.INIT = "0x8888";
    (* lineinfo="@2(30[12],33[5])" *) FD1P3XZ sync_R__i2 (.D(R_c_2), .SP(VCC_net), 
            .CK(clk), .SR(n4), .Q(sync_R[2]));
    defparam sync_R__i2.REGSET = "RESET";
    defparam sync_R__i2.SRMODE = "CE_OVER_LSR";
    VLO i1 (.Z(GND_net));
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@2(58[13],58[26])" *) LUT4 s2_3__I_0_3_lut (.A(s2[3]), 
            .B(s1[3]), .C(seg_power_c), .Z(s[3]));
    defparam s2_3__I_0_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@2(58[13],58[26])" *) LUT4 s2_1__I_0_3_lut (.A(s2[1]), 
            .B(s1[1]), .C(seg_power_c), .Z(s[1]));
    defparam s2_1__I_0_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@2(58[13],58[26])" *) LUT4 s2_2__I_0_3_lut (.A(s2[2]), 
            .B(s1[2]), .C(seg_power_c), .Z(s[2]));
    defparam s2_2__I_0_3_lut.INIT = "0xcaca";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=10, LSE_RCOL=105, LSE_LLINE=47, LSE_RLINE=47, lineinfo="@2(47[10],47[105])" *) scanner scanner1 (n744, 
            C_c_3_N_78[5], C_c_3_N_78[1], debounce_done, C_c_3_N_78[0], 
            clk, n4, C_c_3_N_78[7], C_c_3_N_78[6], C_c_3_N_78[4], 
            n749, key_press, C_c_3_N_78[8], n2037, n2282, n2274, 
            n2278, n2063, C_c_3_N_78[3], C_c_3_N_78[2], n2065, {sync_R}, 
            n5, n761, n252, {R_press}, n743, C_c_3, C_c_0, n1071, 
            C_c_2, n2261, C_c_1, n105, n2268);
    (* lineinfo="@2(10[24],10[25])" *) IB \R_pad[0]  (.I(R[0]), .O(R_c_0));
    (* lineinfo="@2(10[24],10[25])" *) IB \R_pad[1]  (.I(R[1]), .O(R_c_1));
    (* lineinfo="@2(10[24],10[25])" *) IB \R_pad[2]  (.I(R[2]), .O(R_c_2));
    (* lineinfo="@2(10[24],10[25])" *) IB \R_pad[3]  (.I(R[3]), .O(R_c_3));
    (* lineinfo="@2(9[24],9[29])" *) IB reset_pad (.I(reset), .O(reset_c));
    (* lineinfo="@2(13[25],13[34])" *) OB \seg_power_pad[0]  (.I(seg_power_c), 
            .O(seg_power[0]));
    (* lineinfo="@2(13[25],13[34])" *) OB \seg_power_pad[1]  (.I(seg_power_c_N_99), 
            .O(seg_power[1]));
    (* lineinfo="@2(12[25],12[28])" *) OB \seg_pad[0]  (.I(seg_c_0), .O(seg[0]));
    (* lineinfo="@2(12[25],12[28])" *) OB \seg_pad[1]  (.I(seg_c_1), .O(seg[1]));
    (* lineinfo="@2(12[25],12[28])" *) OB \seg_pad[2]  (.I(seg_c_2), .O(seg[2]));
    (* lineinfo="@2(12[25],12[28])" *) OB \seg_pad[3]  (.I(seg_c_3), .O(seg[3]));
    (* lineinfo="@2(12[25],12[28])" *) OB \seg_pad[4]  (.I(seg_c_4), .O(seg[4]));
    (* lineinfo="@2(12[25],12[28])" *) OB \seg_pad[5]  (.I(seg_c_5), .O(seg[5]));
    (* lineinfo="@2(12[25],12[28])" *) OB \seg_pad[6]  (.I(seg_c_6), .O(seg[6]));
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=29, LSE_LLINE=42, LSE_RLINE=42, lineinfo="@2(42[9],42[29])" *) sevseg sevseg_logic ({s}, 
            seg_c_6, seg_c_5, seg_c_4, seg_c_2, seg_c_1, seg_c_3, 
            seg_c_0);
    (* lineinfo="@2(11[25],11[26])" *) OB \C_pad[0]  (.I(C_c_0), .O(C[0]));
    (* lineinfo="@2(11[25],11[26])" *) OB \C_pad[1]  (.I(C_c_1), .O(C[1]));
    (* lut_function="(!(A))", lineinfo="@2(54[24],54[28])" *) LUT4 seg_power_c_I_0_1_lut (.A(seg_power_c), 
            .Z(seg_power_c_N_99));
    defparam seg_power_c_I_0_1_lut.INIT = "0x5555";
    (* lineinfo="@2(11[25],11[26])" *) OB \C_pad[2]  (.I(C_c_2), .O(C[2]));
    (* lineinfo="@2(11[25],11[26])" *) OB \C_pad[3]  (.I(C_c_3), .O(C[3]));
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=48, LSE_RLINE=48, lineinfo="@2(48[13],48[60])" *) numberbank bank (C_c_1, 
            {R_press}, C_c_3, C_c_2, s1[3], Open_0, s1[1], Open_1, 
            clk, n4, key_press, n2261, C_c_3_N_78[8], C_c_3_N_78[3], 
            C_c_3_N_78[7], seg_power_c, s[0], C_c_0, n105, n1071, 
            s1[2], s2[1], s2[2], s2[3]);
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i3_4_lut (.A(C_c_3_N_78[3]), 
            .B(C_c_3_N_78[1]), .C(C_c_3_N_78[2]), .D(C_c_3_N_78[0]), .Z(n252));
    defparam i3_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C)))", lineinfo="@2(30[12],33[5])" *) LUT4 i1_2_lut_3_lut (.A(sync_R[3]), 
            .B(sync_R[0]), .C(sync_R[2]), .Z(n743));
    defparam i1_2_lut_3_lut.INIT = "0xfefe";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=11, LSE_RCOL=76, LSE_LLINE=45, LSE_RLINE=45, lineinfo="@2(45[11],45[76])" *) debounce debouncer (debounce_done, 
            clk, n4, reset_c, n7, n329);
    (* lut_function="((B+(C))+!A)", lineinfo="@2(30[12],33[5])" *) LUT4 i1_2_lut_3_lut_adj_14 (.A(debounce_done), 
            .B(sync_R[1]), .C(n743), .Z(n749));
    defparam i1_2_lut_3_lut_adj_14.INIT = "0xfdfd";
    (* lineinfo="@2(30[12],33[5])" *) FD1P3XZ sync_R__i1 (.D(R_c_1), .SP(VCC_net), 
            .CK(clk), .SR(n4), .Q(sync_R[1]));
    defparam sync_R__i1.REGSET = "RESET";
    defparam sync_R__i1.SRMODE = "CE_OVER_LSR";
    
endmodule

//
// Verilog Description of module counter_U0
//

module counter_U0 (input clk, input n329, output seg_power_c, input n4, 
            output n7);
    
    wire [23:0]count;
    (* is_clock=1, lineinfo="@2(17[8],17[11])" *) wire clk;
    wire [23:0]n101;
    
    wire n1629, n3127, GND_net, n1627, n3124, n1625, n3121, n1923, 
        n1623, n3118, n1621, n3115, n22, n32, n1619, n3112, 
        n30, n36, n26, n34, n38, n37, n1617, n3109, n1615, 
        n3106, n1613, n3103, n1611, n3100, n1609, n3097, n1607, 
        n3094, n3049, VCC_net;
    
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=10, LSE_RCOL=50, LSE_LLINE=43, LSE_RLINE=43, lineinfo="@0(18[12],30[5])" *) FD1P3XZ new_clk (.D(n1923), 
            .SP(VCC_net), .CK(clk), .SR(n4), .Q(seg_power_c));
    defparam new_clk.REGSET = "RESET";
    defparam new_clk.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@0(28[18],28[30])" *) FA2 count_240_add_4_25 (.A0(GND_net), 
            .B0(GND_net), .C0(count[23]), .D0(n1629), .CI0(n1629), .A1(GND_net), 
            .B1(GND_net), .C1(GND_net), .D1(n3127), .CI1(n3127), .CO0(n3127), 
            .S0(n101[23]));
    defparam count_240_add_4_25.INIT0 = "0xc33c";
    defparam count_240_add_4_25.INIT1 = "0xc33c";
    (* lineinfo="@0(28[18],28[30])" *) FA2 count_240_add_4_23 (.A0(GND_net), 
            .B0(GND_net), .C0(count[21]), .D0(n1627), .CI0(n1627), .A1(GND_net), 
            .B1(GND_net), .C1(count[22]), .D1(n3124), .CI1(n3124), .CO0(n3124), 
            .CO1(n1629), .S0(n101[21]), .S1(n101[22]));
    defparam count_240_add_4_23.INIT0 = "0xc33c";
    defparam count_240_add_4_23.INIT1 = "0xc33c";
    (* lineinfo="@0(28[18],28[30])" *) FA2 count_240_add_4_21 (.A0(GND_net), 
            .B0(GND_net), .C0(count[19]), .D0(n1625), .CI0(n1625), .A1(GND_net), 
            .B1(GND_net), .C1(count[20]), .D1(n3121), .CI1(n3121), .CO0(n3121), 
            .CO1(n1627), .S0(n101[19]), .S1(n101[20]));
    defparam count_240_add_4_21.INIT0 = "0xc33c";
    defparam count_240_add_4_21.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_240__i23 (.D(n101[23]), 
            .SP(VCC_net), .CK(clk), .SR(n329), .Q(count[23]));
    defparam count_240__i23.REGSET = "RESET";
    defparam count_240__i23.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@0(28[18],28[30])" *) FA2 count_240_add_4_19 (.A0(GND_net), 
            .B0(GND_net), .C0(count[17]), .D0(n1623), .CI0(n1623), .A1(GND_net), 
            .B1(GND_net), .C1(count[18]), .D1(n3118), .CI1(n3118), .CO0(n3118), 
            .CO1(n1625), .S0(n101[17]), .S1(n101[18]));
    defparam count_240_add_4_19.INIT0 = "0xc33c";
    defparam count_240_add_4_19.INIT1 = "0xc33c";
    (* lineinfo="@0(28[18],28[30])" *) FA2 count_240_add_4_17 (.A0(GND_net), 
            .B0(GND_net), .C0(count[15]), .D0(n1621), .CI0(n1621), .A1(GND_net), 
            .B1(GND_net), .C1(count[16]), .D1(n3115), .CI1(n3115), .CO0(n3115), 
            .CO1(n1623), .S0(n101[15]), .S1(n101[16]));
    defparam count_240_add_4_17.INIT0 = "0xc33c";
    defparam count_240_add_4_17.INIT1 = "0xc33c";
    (* lut_function="(A+(B))" *) LUT4 i2_2_lut (.A(count[20]), .B(count[21]), 
            .Z(n22));
    defparam i2_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i12_4_lut (.A(count[7]), .B(count[15]), 
            .C(count[1]), .D(count[3]), .Z(n32));
    defparam i12_4_lut.INIT = "0xfffe";
    (* lineinfo="@0(28[18],28[30])" *) FA2 count_240_add_4_15 (.A0(GND_net), 
            .B0(GND_net), .C0(count[13]), .D0(n1619), .CI0(n1619), .A1(GND_net), 
            .B1(GND_net), .C1(count[14]), .D1(n3112), .CI1(n3112), .CO0(n3112), 
            .CO1(n1621), .S0(n101[13]), .S1(n101[14]));
    defparam count_240_add_4_15.INIT0 = "0xc33c";
    defparam count_240_add_4_15.INIT1 = "0xc33c";
    (* lut_function="(A+!(B (C (D))))" *) LUT4 i10_4_lut (.A(count[12]), .B(count[13]), 
            .C(count[9]), .D(count[4]), .Z(n30));
    defparam i10_4_lut.INIT = "0xbfff";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i16_4_lut (.A(count[5]), .B(n32), 
            .C(n22), .D(count[6]), .Z(n36));
    defparam i16_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B))" *) LUT4 i6_2_lut (.A(count[17]), .B(count[16]), 
            .Z(n26));
    defparam i6_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i14_4_lut (.A(count[19]), .B(count[23]), 
            .C(count[2]), .D(count[22]), .Z(n34));
    defparam i14_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i18_4_lut (.A(count[14]), .B(n36), 
            .C(n30), .D(count[0]), .Z(n38));
    defparam i18_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i17_4_lut (.A(count[11]), .B(n34), 
            .C(n26), .D(count[18]), .Z(n37));
    defparam i17_4_lut.INIT = "0xfffe";
    (* lut_function="((B+((D)+!C))+!A)" *) LUT4 i2_4_lut (.A(count[8]), .B(n37), 
            .C(count[10]), .D(n38), .Z(n7));
    defparam i2_4_lut.INIT = "0xffdf";
    (* lut_function="(A (B)+!A !(B))" *) LUT4 i1_2_lut (.A(n7), .B(seg_power_c), 
            .Z(n1923));
    defparam i1_2_lut.INIT = "0x9999";
    (* lineinfo="@0(28[18],28[30])" *) FA2 count_240_add_4_13 (.A0(GND_net), 
            .B0(GND_net), .C0(count[11]), .D0(n1617), .CI0(n1617), .A1(GND_net), 
            .B1(GND_net), .C1(count[12]), .D1(n3109), .CI1(n3109), .CO0(n3109), 
            .CO1(n1619), .S0(n101[11]), .S1(n101[12]));
    defparam count_240_add_4_13.INIT0 = "0xc33c";
    defparam count_240_add_4_13.INIT1 = "0xc33c";
    (* lineinfo="@0(28[18],28[30])" *) FA2 count_240_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(count[9]), .D0(n1615), .CI0(n1615), .A1(GND_net), 
            .B1(GND_net), .C1(count[10]), .D1(n3106), .CI1(n3106), .CO0(n3106), 
            .CO1(n1617), .S0(n101[9]), .S1(n101[10]));
    defparam count_240_add_4_11.INIT0 = "0xc33c";
    defparam count_240_add_4_11.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_240__i22 (.D(n101[22]), 
            .SP(VCC_net), .CK(clk), .SR(n329), .Q(count[22]));
    defparam count_240__i22.REGSET = "RESET";
    defparam count_240__i22.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_240__i21 (.D(n101[21]), 
            .SP(VCC_net), .CK(clk), .SR(n329), .Q(count[21]));
    defparam count_240__i21.REGSET = "RESET";
    defparam count_240__i21.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@0(28[18],28[30])" *) FA2 count_240_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(count[7]), .D0(n1613), .CI0(n1613), .A1(GND_net), 
            .B1(GND_net), .C1(count[8]), .D1(n3103), .CI1(n3103), .CO0(n3103), 
            .CO1(n1615), .S0(n101[7]), .S1(n101[8]));
    defparam count_240_add_4_9.INIT0 = "0xc33c";
    defparam count_240_add_4_9.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_240__i20 (.D(n101[20]), 
            .SP(VCC_net), .CK(clk), .SR(n329), .Q(count[20]));
    defparam count_240__i20.REGSET = "RESET";
    defparam count_240__i20.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_240__i19 (.D(n101[19]), 
            .SP(VCC_net), .CK(clk), .SR(n329), .Q(count[19]));
    defparam count_240__i19.REGSET = "RESET";
    defparam count_240__i19.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_240__i18 (.D(n101[18]), 
            .SP(VCC_net), .CK(clk), .SR(n329), .Q(count[18]));
    defparam count_240__i18.REGSET = "RESET";
    defparam count_240__i18.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_240__i17 (.D(n101[17]), 
            .SP(VCC_net), .CK(clk), .SR(n329), .Q(count[17]));
    defparam count_240__i17.REGSET = "RESET";
    defparam count_240__i17.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_240__i16 (.D(n101[16]), 
            .SP(VCC_net), .CK(clk), .SR(n329), .Q(count[16]));
    defparam count_240__i16.REGSET = "RESET";
    defparam count_240__i16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_240__i15 (.D(n101[15]), 
            .SP(VCC_net), .CK(clk), .SR(n329), .Q(count[15]));
    defparam count_240__i15.REGSET = "RESET";
    defparam count_240__i15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_240__i14 (.D(n101[14]), 
            .SP(VCC_net), .CK(clk), .SR(n329), .Q(count[14]));
    defparam count_240__i14.REGSET = "RESET";
    defparam count_240__i14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_240__i13 (.D(n101[13]), 
            .SP(VCC_net), .CK(clk), .SR(n329), .Q(count[13]));
    defparam count_240__i13.REGSET = "RESET";
    defparam count_240__i13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_240__i12 (.D(n101[12]), 
            .SP(VCC_net), .CK(clk), .SR(n329), .Q(count[12]));
    defparam count_240__i12.REGSET = "RESET";
    defparam count_240__i12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_240__i11 (.D(n101[11]), 
            .SP(VCC_net), .CK(clk), .SR(n329), .Q(count[11]));
    defparam count_240__i11.REGSET = "RESET";
    defparam count_240__i11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_240__i10 (.D(n101[10]), 
            .SP(VCC_net), .CK(clk), .SR(n329), .Q(count[10]));
    defparam count_240__i10.REGSET = "RESET";
    defparam count_240__i10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_240__i9 (.D(n101[9]), 
            .SP(VCC_net), .CK(clk), .SR(n329), .Q(count[9]));
    defparam count_240__i9.REGSET = "RESET";
    defparam count_240__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_240__i8 (.D(n101[8]), 
            .SP(VCC_net), .CK(clk), .SR(n329), .Q(count[8]));
    defparam count_240__i8.REGSET = "RESET";
    defparam count_240__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_240__i7 (.D(n101[7]), 
            .SP(VCC_net), .CK(clk), .SR(n329), .Q(count[7]));
    defparam count_240__i7.REGSET = "RESET";
    defparam count_240__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_240__i6 (.D(n101[6]), 
            .SP(VCC_net), .CK(clk), .SR(n329), .Q(count[6]));
    defparam count_240__i6.REGSET = "RESET";
    defparam count_240__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_240__i5 (.D(n101[5]), 
            .SP(VCC_net), .CK(clk), .SR(n329), .Q(count[5]));
    defparam count_240__i5.REGSET = "RESET";
    defparam count_240__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_240__i4 (.D(n101[4]), 
            .SP(VCC_net), .CK(clk), .SR(n329), .Q(count[4]));
    defparam count_240__i4.REGSET = "RESET";
    defparam count_240__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_240__i3 (.D(n101[3]), 
            .SP(VCC_net), .CK(clk), .SR(n329), .Q(count[3]));
    defparam count_240__i3.REGSET = "RESET";
    defparam count_240__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_240__i2 (.D(n101[2]), 
            .SP(VCC_net), .CK(clk), .SR(n329), .Q(count[2]));
    defparam count_240__i2.REGSET = "RESET";
    defparam count_240__i2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_240__i1 (.D(n101[1]), 
            .SP(VCC_net), .CK(clk), .SR(n329), .Q(count[1]));
    defparam count_240__i1.REGSET = "RESET";
    defparam count_240__i1.SRMODE = "CE_OVER_LSR";
    VLO i1 (.Z(GND_net));
    (* lineinfo="@0(28[18],28[30])" *) FA2 count_240_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(count[5]), .D0(n1611), .CI0(n1611), .A1(GND_net), 
            .B1(GND_net), .C1(count[6]), .D1(n3100), .CI1(n3100), .CO0(n3100), 
            .CO1(n1613), .S0(n101[5]), .S1(n101[6]));
    defparam count_240_add_4_7.INIT0 = "0xc33c";
    defparam count_240_add_4_7.INIT1 = "0xc33c";
    (* lineinfo="@0(28[18],28[30])" *) FA2 count_240_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(count[3]), .D0(n1609), .CI0(n1609), .A1(GND_net), 
            .B1(GND_net), .C1(count[4]), .D1(n3097), .CI1(n3097), .CO0(n3097), 
            .CO1(n1611), .S0(n101[3]), .S1(n101[4]));
    defparam count_240_add_4_5.INIT0 = "0xc33c";
    defparam count_240_add_4_5.INIT1 = "0xc33c";
    (* lineinfo="@0(28[18],28[30])" *) FA2 count_240_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(count[1]), .D0(n1607), .CI0(n1607), .A1(GND_net), 
            .B1(GND_net), .C1(count[2]), .D1(n3094), .CI1(n3094), .CO0(n3094), 
            .CO1(n1609), .S0(n101[1]), .S1(n101[2]));
    defparam count_240_add_4_3.INIT0 = "0xc33c";
    defparam count_240_add_4_3.INIT1 = "0xc33c";
    (* lineinfo="@0(28[18],28[30])" *) FA2 count_240_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(count[0]), .D1(n3049), .CI1(n3049), .CO0(n3049), .CO1(n1607), 
            .S1(n101[0]));
    defparam count_240_add_4_1.INIT0 = "0xc33c";
    defparam count_240_add_4_1.INIT1 = "0xc33c";
    VHI i2 (.Z(VCC_net));
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_240__i0 (.D(n101[0]), 
            .SP(VCC_net), .CK(clk), .SR(n329), .Q(count[0]));
    defparam count_240__i0.REGSET = "RESET";
    defparam count_240__i0.SRMODE = "CE_OVER_LSR";
    
endmodule

//
// Verilog Description of module scanner
//

module scanner (input n744, output n151, output n155, input debounce_done, 
            output n156, input clk, input n4, output n149, output n150, 
            output n152, input n749, output key_press, output \C_c_3_N_78[8] , 
            input n2037, input n2282, input n2274, input n2278, input n2063, 
            output n153, output n154, input n2065, input [3:0]sync_R, 
            input n5, output n761, input n252, output [3:0]R_press, 
            input n743, output C_c_3, output C_c_0, output n1071, output C_c_2, 
            output n2261, output C_c_1, output n105, output n2268);
    
    (* is_clock=1, lineinfo="@2(17[8],17[11])" *) wire clk;
    
    wire n2043, n554, n1908, key_press_N_101, n757, n5_c, VCC_net, 
        GND_net;
    
    (* lut_function="(!(A+!(B (C+(D))+!B (C))))", lineinfo="@4(30[3],111[10])" *) LUT4 i1_4_lut (.A(n744), 
            .B(n151), .C(n155), .D(debounce_done), .Z(n2043));
    defparam i1_4_lut.INIT = "0x5450";
    (* lineinfo="@4(30[3],111[10])" *) FD1P3XZ state_FSM_i9 (.D(n4), .SP(VCC_net), 
            .CK(clk), .SR(GND_net), .Q(\C_c_3_N_78[8] ));
    defparam state_FSM_i9.REGSET = "RESET";
    defparam state_FSM_i9.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@4(30[3],111[10])" *) LUT4 i3_4_lut (.A(n149), 
            .B(n150), .C(n151), .D(n152), .Z(n1908));
    defparam i3_4_lut.INIT = "0xfffe";
    (* lut_function="(A (B ((D)+!C)+!B !(C))+!A (B (C (D))))", lineinfo="@4(30[3],111[10])" *) LUT4 i16_4_lut (.A(key_press_N_101), 
            .B(n749), .C(n1908), .D(key_press), .Z(n757));
    defparam i16_4_lut.INIT = "0xca0a";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@2(11[25],11[26])" *) LUT4 i631_3_lut (.A(n757), 
            .B(key_press), .C(\C_c_3_N_78[8] ), .Z(key_press));
    defparam i631_3_lut.INIT = "0xcaca";
    (* lineinfo="@4(30[3],111[10])" *) FD1P3XZ state_FSM_i8 (.D(n2037), .SP(VCC_net), 
            .CK(clk), .SR(n4), .Q(n149));
    defparam state_FSM_i8.REGSET = "RESET";
    defparam state_FSM_i8.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(30[3],111[10])" *) FD1P3XZ state_FSM_i7 (.D(n2282), .SP(VCC_net), 
            .CK(clk), .SR(n4), .Q(n150));
    defparam state_FSM_i7.REGSET = "RESET";
    defparam state_FSM_i7.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(30[3],111[10])" *) FD1P3XZ state_FSM_i6 (.D(n2274), .SP(VCC_net), 
            .CK(clk), .SR(n4), .Q(n151));
    defparam state_FSM_i6.REGSET = "RESET";
    defparam state_FSM_i6.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(30[3],111[10])" *) FD1P3XZ state_FSM_i5 (.D(n2278), .SP(VCC_net), 
            .CK(clk), .SR(n4), .Q(n152));
    defparam state_FSM_i5.REGSET = "RESET";
    defparam state_FSM_i5.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(30[3],111[10])" *) FD1P3XZ state_FSM_i4 (.D(n2063), .SP(VCC_net), 
            .CK(clk), .SR(n4), .Q(n153));
    defparam state_FSM_i4.REGSET = "RESET";
    defparam state_FSM_i4.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(30[3],111[10])" *) FD1P3XZ state_FSM_i3 (.D(n2043), .SP(VCC_net), 
            .CK(clk), .SR(n4), .Q(n154));
    defparam state_FSM_i3.REGSET = "RESET";
    defparam state_FSM_i3.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(30[3],111[10])" *) FD1P3XZ state_FSM_i2 (.D(n2065), .SP(VCC_net), 
            .CK(clk), .SR(n4), .Q(n155));
    defparam state_FSM_i2.REGSET = "RESET";
    defparam state_FSM_i2.SRMODE = "CE_OVER_LSR";
    VLO i2 (.Z(GND_net));
    (* lut_function="(A+(B))", lineinfo="@4(31[16],31[22])" *) LUT4 i1_2_lut (.A(sync_R[0]), 
            .B(sync_R[2]), .Z(n5_c));
    defparam i1_2_lut.INIT = "0xeeee";
    (* lut_function="(A+!(B+!(C+(D))))", lineinfo="@4(30[3],111[10])" *) LUT4 i1_4_lut_adj_10 (.A(\C_c_3_N_78[8] ), 
            .B(n744), .C(n153), .D(n5), .Z(n554));
    defparam i1_4_lut_adj_10.INIT = "0xbbba";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i2_2_lut_3_lut_4_lut (.A(sync_R[1]), 
            .B(sync_R[3]), .C(sync_R[0]), .D(sync_R[2]), .Z(n761));
    defparam i2_2_lut_3_lut_4_lut.INIT = "0xfffe";
    (* lut_function="(A (B+!((D)+!C))+!A (C))", lineinfo="@4(29[2],111[10])" *) LUT4 i969_4_lut (.A(n252), 
            .B(sync_R[1]), .C(R_press[1]), .D(n743), .Z(R_press[1]));
    defparam i969_4_lut.INIT = "0xd8f8";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(29[2],111[10])" *) LUT4 i511_3_lut (.A(R_press[3]), 
            .B(sync_R[3]), .C(key_press_N_101), .Z(R_press[3]));
    defparam i511_3_lut.INIT = "0xcaca";
    (* lut_function="(!(A+!(B+(C))))", lineinfo="@4(30[3],111[10])" *) LUT4 i2217_2_lut_3_lut (.A(\C_c_3_N_78[8] ), 
            .B(n153), .C(n149), .Z(C_c_3));
    defparam i2217_2_lut_3_lut.INIT = "0x5454";
    (* lut_function="(!(A+!(B+(C))))", lineinfo="@4(30[3],111[10])" *) LUT4 i1_3_lut (.A(\C_c_3_N_78[8] ), 
            .B(n152), .C(n156), .Z(C_c_0));
    defparam i1_3_lut.INIT = "0x5454";
    (* lut_function="(A (B+(C)))" *) LUT4 i1_2_lut_3_lut (.A(n252), .B(sync_R[1]), 
            .C(n743), .Z(key_press_N_101));
    defparam i1_2_lut_3_lut.INIT = "0xa8a8";
    (* lut_function="(A+(B))" *) LUT4 i934_2_lut (.A(n153), .B(n149), .Z(n1071));
    defparam i934_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B+(C)))" *) LUT4 i2_3_lut (.A(n150), .B(n154), 
            .C(\C_c_3_N_78[8] ), .Z(C_c_2));
    defparam i2_3_lut.INIT = "0xfefe";
    (* lut_function="(A (B+!(C (D)))+!A (B (C (D))))", lineinfo="@4(29[2],111[10])" *) LUT4 i501_3_lut_4_lut (.A(R_press[0]), 
            .B(sync_R[0]), .C(n252), .D(n744), .Z(R_press[0]));
    defparam i501_3_lut_4_lut.INIT = "0xcaaa";
    (* lut_function="(A (D)+!A (B (D)+!B ((D)+!C)))" *) LUT4 i1920_3_lut_4_lut (.A(n151), 
            .B(n155), .C(n1071), .D(\C_c_3_N_78[8] ), .Z(n2261));
    defparam i1920_3_lut_4_lut.INIT = "0xff01";
    (* lut_function="(!(A (C)+!A ((C)+!B)))" *) LUT4 i2227_2_lut_3_lut (.A(n151), 
            .B(n155), .C(\C_c_3_N_78[8] ), .Z(C_c_1));
    defparam i2227_2_lut_3_lut.INIT = "0x0e0e";
    (* lut_function="(A (B+!(C (D)))+!A (B (C (D))))", lineinfo="@4(29[2],111[10])" *) LUT4 i509_3_lut_4_lut (.A(R_press[2]), 
            .B(sync_R[2]), .C(n252), .D(n744), .Z(R_press[2]));
    defparam i509_3_lut_4_lut.INIT = "0xcaaa";
    (* lut_function="(!(A (B+(D))+!A (B (C)+!B (C (D)+!C !(D)))))" *) LUT4 i98_4_lut (.A(n156), 
            .B(n151), .C(n152), .D(n155), .Z(n105));
    defparam i98_4_lut.INIT = "0x0536";
    (* lut_function="(A+(B+(C+!(D))))" *) LUT4 i1927_3_lut_4_lut (.A(sync_R[1]), 
            .B(sync_R[3]), .C(n5_c), .D(debounce_done), .Z(n2268));
    defparam i1927_3_lut_4_lut.INIT = "0xfeff";
    (* lineinfo="@4(30[3],111[10])" *) FD1P3XZ state_FSM_i1 (.D(n554), .SP(VCC_net), 
            .CK(clk), .SR(n4), .Q(n156));
    defparam state_FSM_i1.REGSET = "RESET";
    defparam state_FSM_i1.SRMODE = "CE_OVER_LSR";
    VHI i1 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module sevseg
//

module sevseg (input [3:0]s, output seg_c_6, output seg_c_5, output seg_c_4, 
            output seg_c_2, output seg_c_1, output seg_c_3, output seg_c_0);
    
    
    (* lut_function="(!(A ((C+!(D))+!B)+!A (B (C+(D))+!B !(C (D)+!C !(D)))))", lineinfo="@5(16[3],34[10])" *) LUT4 seg_c_6_I_0_4_lut (.A(s[1]), 
            .B(s[0]), .C(s[3]), .D(s[2]), .Z(seg_c_6));
    defparam seg_c_6_I_0_4_lut.INIT = "0x1805";
    (* lut_function="(!(A (B+!((D)+!C))+!A !(B (C (D))+!B !(C+!(D)))))", lineinfo="@5(16[3],34[10])" *) LUT4 seg_c_5_I_0_4_lut (.A(s[1]), 
            .B(s[3]), .C(s[2]), .D(s[0]), .Z(seg_c_5));
    defparam seg_c_5_I_0_4_lut.INIT = "0x6302";
    (* lut_function="(!(A (B+!(C))+!A (B ((D)+!C)+!B !(C+(D)))))", lineinfo="@5(16[3],34[10])" *) LUT4 seg_c_4_I_0_4_lut (.A(s[1]), 
            .B(s[3]), .C(s[0]), .D(s[2]), .Z(seg_c_4));
    defparam seg_c_4_I_0_4_lut.INIT = "0x3170";
    (* lut_function="(A (B (C (D)))+!A (B (D)+!B !((D)+!C)))", lineinfo="@5(16[3],34[10])" *) LUT4 seg_c_2_I_0_4_lut (.A(s[0]), 
            .B(s[3]), .C(s[1]), .D(s[2]), .Z(seg_c_2));
    defparam seg_c_2_I_0_4_lut.INIT = "0xc410";
    (* lut_function="(A (B (D)+!B !((D)+!C))+!A (B (C)+!B (C (D))))", lineinfo="@5(16[3],34[10])" *) LUT4 seg_c_1_I_0_4_lut (.A(s[0]), 
            .B(s[3]), .C(s[2]), .D(s[1]), .Z(seg_c_1));
    defparam seg_c_1_I_0_4_lut.INIT = "0xd860";
    (* lut_function="(A (B (D)+!B !(D))+!A !(B ((D)+!C)+!B (C+!(D))))", lineinfo="@5(16[3],34[10])" *) LUT4 n2778_bdd_4_lut_4_lut_4_lut (.A(s[0]), 
            .B(s[1]), .C(s[3]), .D(s[2]), .Z(seg_c_3));
    defparam n2778_bdd_4_lut_4_lut_4_lut.INIT = "0x8962";
    (* lut_function="(!(A (B+!(C (D)+!C !(D)))+!A !(B (C (D))+!B !(C+!(D)))))", lineinfo="@5(16[3],34[10])" *) LUT4 s_3__I_0_4_lut (.A(s[2]), 
            .B(s[1]), .C(s[3]), .D(s[0]), .Z(seg_c_0));
    defparam s_3__I_0_4_lut.INIT = "0x6102";
    
endmodule

//
// Verilog Description of module numberbank
//

module numberbank (input C_c_1, input [3:0]R_press, input C_c_3, input C_c_2, 
            output \s1[3] , output \s1[2] , output \s1[1] , output \s1[0] , 
            input clk, input n4, input key_press, input n2261, input \C_c_3_N_78[8] , 
            input n153, input n149, input seg_power_c, output \s[0] , 
            input C_c_0, input n105, input n1071, output \s1[2]_2 , 
            output \s2[1] , output \s2[2] , output \s2[3] );
    
    (* is_clock=1, lineinfo="@2(17[8],17[11])" *) wire clk;
    wire [3:0]s2;
    wire [3:0]s1;
    
    wire n2414, n576, n73, n59, n44, n1124, n70, n2447, n85, 
        n1942, n481;
    wire [3:0]n278;
    
    wire n477, n294, n570, n2430, n47, n53, n573, n4_adj_104, 
        n50, n584, n2440, n1921, n1034, n2410, n2409, n54, n2443, 
        n7, n57, n2425, n2424, n60, new_number_0__N_52, n2452, 
        VCC_net;
    
    (* lut_function="(!(A (B+(C+(D)))+!A (B+(C+!(D)))))" *) LUT4 i2095_4_lut (.A(C_c_1), 
            .B(R_press[2]), .C(C_c_3), .D(C_c_2), .Z(n2414));
    defparam i2095_4_lut.INIT = "0x0102";
    (* lut_function="(A (B (C+!(D))+!B !(C+(D)))+!A (B (C)))" *) LUT4 i101_4_lut (.A(n576), 
            .B(n2414), .C(R_press[3]), .D(C_c_1), .Z(n73));
    defparam i101_4_lut.INIT = "0xc0ca";
    (* lut_function="(!(A (B (C (D))+!B (C))+!A (((D)+!C)+!B)))" *) LUT4 i100_4_lut (.A(n59), 
            .B(n44), .C(C_c_3), .D(n1124), .Z(n70));
    defparam i100_4_lut.INIT = "0x0aca";
    (* lut_function="(!((B+(C+(D)))+!A))", lineinfo="@3(88[2],97[5])" *) LUT4 i2108_4_lut (.A(n70), 
            .B(C_c_1), .C(R_press[3]), .D(R_press[2]), .Z(n2447));
    defparam i2108_4_lut.INIT = "0x0002";
    (* lut_function="(A (B+(C+(D)))+!A !(B (C)+!B (C+!(D))))", lineinfo="@3(88[2],97[5])" *) LUT4 i519_4_lut (.A(\s1[1] ), 
            .B(n2447), .C(n85), .D(n1942), .Z(\s1[1] ));
    defparam i519_4_lut.INIT = "0xafac";
    (* lineinfo="@3(77[3],85[10])" *) FD1P3XZ state_FSM_i3 (.D(n477), .SP(VCC_net), 
            .CK(clk), .SR(n4), .Q(n278[2]));
    defparam state_FSM_i3.REGSET = "RESET";
    defparam state_FSM_i3.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@3(77[3],85[10])" *) FD1P3XZ state_FSM_i2 (.D(n294), .SP(VCC_net), 
            .CK(clk), .SR(n4), .Q(n278[1]));
    defparam state_FSM_i2.REGSET = "RESET";
    defparam state_FSM_i2.SRMODE = "CE_OVER_LSR";
    VHI i1 (.Z(VCC_net));
    (* lut_function="(!(A (B (C (D)+!C !(D))+!B (C+!(D)))+!A (((D)+!C)+!B)))" *) LUT4 i76_4_lut (.A(n570), 
            .B(n2430), .C(R_press[1]), .D(R_press[0]), .Z(n47));
    defparam i76_4_lut.INIT = "0x0ac0";
    (* lut_function="(A (B))", lineinfo="@3(77[3],85[10])" *) LUT4 i203_2_lut (.A(key_press), 
            .B(n278[0]), .Z(n294));
    defparam i203_2_lut.INIT = "0x8888";
    (* lut_function="(A (B (C+!(D))+!B (C))+!A !((D)+!B))" *) LUT4 i1_4_lut (.A(n59), 
            .B(n47), .C(n2261), .D(n1124), .Z(n53));
    defparam i1_4_lut.INIT = "0xa0ec";
    (* lut_function="(A (B+(C))+!A (B))", lineinfo="@3(77[3],85[10])" *) LUT4 i369_3_lut (.A(n278[2]), 
            .B(n278[1]), .C(key_press), .Z(n477));
    defparam i369_3_lut.INIT = "0xecec";
    (* lut_function="(!(A (B (C+!(D))+!B (C (D)+!C !(D)))+!A (B+((D)+!C))))" *) LUT4 i77_4_lut (.A(n573), 
            .B(n4_adj_104), .C(R_press[2]), .D(R_press[1]), .Z(n50));
    defparam i77_4_lut.INIT = "0x0a30";
    (* lut_function="(A (B (C)+!B (C+(D)))+!A !(B+!(D)))", lineinfo="@3(88[2],97[5])" *) LUT4 i2097_4_lut (.A(n50), 
            .B(R_press[2]), .C(n584), .D(n53), .Z(n2440));
    defparam i2097_4_lut.INIT = "0xb3a0";
    (* lut_function="(A (B (C+!(D))+!B (C))+!A !((C+(D))+!B))", lineinfo="@3(88[2],97[5])" *) LUT4 i523_4_lut (.A(\s1[3] ), 
            .B(n2440), .C(n85), .D(R_press[3]), .Z(\s1[3] ));
    defparam i523_4_lut.INIT = "0xa0ac";
    (* lut_function="(A (B+!(C+(D))))" *) LUT4 i2113_2_lut_3_lut_4_lut (.A(C_c_1), 
            .B(\C_c_3_N_78[8] ), .C(n153), .D(n149), .Z(n2430));
    defparam i2113_2_lut_3_lut_4_lut.INIT = "0x888a";
    (* lut_function="(!(A+!(B+(C))))", lineinfo="@3(77[3],85[10])" *) LUT4 i372_3_lut (.A(key_press), 
            .B(n278[0]), .C(n278[2]), .Z(n481));
    defparam i372_3_lut.INIT = "0x5454";
    (* lut_function="(A+(B (D)+!B ((D)+!C)))" *) LUT4 i1_2_lut_3_lut_4_lut (.A(\C_c_3_N_78[8] ), 
            .B(n153), .C(n149), .D(C_c_2), .Z(n4_adj_104));
    defparam i1_2_lut_3_lut_4_lut.INIT = "0xffab";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@2(17[13],17[16])" *) LUT4 i828_3_lut (.A(s2[0]), 
            .B(s1[0]), .C(seg_power_c), .Z(\s[0] ));
    defparam i828_3_lut.INIT = "0xcaca";
    (* lut_function="(!(A (B+!(C+(D)))+!A !(B+!(C+(D)))))" *) LUT4 i1_2_lut_3_lut_4_lut_adj_5 (.A(C_c_2), 
            .B(\C_c_3_N_78[8] ), .C(n153), .D(n149), .Z(n1921));
    defparam i1_2_lut_3_lut_4_lut_adj_5.INIT = "0x6665";
    (* lut_function="(!(A+(B+(C))))" *) LUT4 i2_3_lut (.A(C_c_1), .B(C_c_0), 
            .C(R_press[0]), .Z(n584));
    defparam i2_3_lut.INIT = "0x0101";
    (* lut_function="(!(A+((C+(D))+!B)))" *) LUT4 i2098_4_lut (.A(\C_c_3_N_78[8] ), 
            .B(n105), .C(n1034), .D(n1071), .Z(n2410));
    defparam i2098_4_lut.INIT = "0x0004";
    (* lut_function="(!(((C)+!B)+!A))" *) LUT4 i2102_3_lut (.A(n570), .B(n44), 
            .C(C_c_0), .Z(n2409));
    defparam i2102_3_lut.INIT = "0x0808";
    (* lut_function="(!(A+!(B (C+!(D))+!B (C (D)))))" *) LUT4 i1_4_lut_adj_6 (.A(C_c_2), 
            .B(n2409), .C(n2410), .D(R_press[2]), .Z(n54));
    defparam i1_4_lut_adj_6.INIT = "0x5044";
    (* lut_function="(A (B+!((D)+!C))+!A (B))", lineinfo="@3(88[2],97[5])" *) LUT4 i2084_4_lut (.A(n584), 
            .B(n54), .C(n576), .D(R_press[1]), .Z(n2443));
    defparam i2084_4_lut.INIT = "0xccec";
    (* lut_function="(A (B (C+!(D))+!B (C))+!A !((C+(D))+!B))", lineinfo="@3(88[2],97[5])" *) LUT4 i521_4_lut (.A(\s1[2]_2 ), 
            .B(n2443), .C(n85), .D(R_press[3]), .Z(\s1[2]_2 ));
    defparam i521_4_lut.INIT = "0xa0ac";
    (* lut_function="(!(A+(B)))" *) LUT4 i2_2_lut (.A(C_c_1), .B(C_c_0), 
            .Z(n7));
    defparam i2_2_lut.INIT = "0x1111";
    (* lut_function="(!(A (B+((D)+!C))+!A ((C+!(D))+!B)))" *) LUT4 i85_4_lut (.A(C_c_1), 
            .B(R_press[3]), .C(R_press[2]), .D(C_c_0), .Z(n57));
    defparam i85_4_lut.INIT = "0x0420";
    (* lut_function="(!(A+(B+((D)+!C))))" *) LUT4 i2100_4_lut (.A(R_press[3]), 
            .B(n1921), .C(n7), .D(R_press[2]), .Z(n2425));
    defparam i2100_4_lut.INIT = "0x0010";
    (* lut_function="(!((B+(C))+!A))" *) LUT4 i2101_3_lut (.A(n57), .B(C_c_3), 
            .C(C_c_2), .Z(n2424));
    defparam i2101_3_lut.INIT = "0x0202";
    (* lut_function="(!(A (B (C+!(D))+!B (C (D)+!C !(D)))+!A (B+((D)+!C))))" *) LUT4 i86_4_lut (.A(n573), 
            .B(n1921), .C(R_press[0]), .D(R_press[3]), .Z(n60));
    defparam i86_4_lut.INIT = "0x0a30";
    (* lut_function="(!(A+!(B (C+!(D))+!B (C (D)))))" *) LUT4 i1_4_lut_adj_7 (.A(R_press[0]), 
            .B(n2424), .C(n2425), .D(R_press[1]), .Z(new_number_0__N_52));
    defparam i1_4_lut_adj_7.INIT = "0x5044";
    (* lut_function="(!(((C+(D))+!B)+!A))", lineinfo="@3(88[2],97[5])" *) LUT4 i2110_4_lut (.A(n7), 
            .B(n60), .C(R_press[2]), .D(R_press[1]), .Z(n2452));
    defparam i2110_4_lut.INIT = "0x0008";
    (* lut_function="(A (B+(C+(D)))+!A !(B (C)+!B (C+!(D))))", lineinfo="@3(88[2],97[5])" *) LUT4 i505_4_lut (.A(s1[0]), 
            .B(n2452), .C(n85), .D(new_number_0__N_52), .Z(s1[0]));
    defparam i505_4_lut.INIT = "0xafac";
    (* lut_function="(!(A+(B+!(C+(D)))))" *) LUT4 i1_2_lut_3_lut_4_lut_adj_8 (.A(C_c_1), 
            .B(\C_c_3_N_78[8] ), .C(n153), .D(n149), .Z(n570));
    defparam i1_2_lut_3_lut_4_lut_adj_8.INIT = "0x1110";
    (* lut_function="(A (D)+!A !(B+(C+!(D))))" *) LUT4 i1_2_lut_3_lut_4_lut_adj_9 (.A(\C_c_3_N_78[8] ), 
            .B(n153), .C(n149), .D(C_c_2), .Z(n573));
    defparam i1_2_lut_3_lut_4_lut_adj_9.INIT = "0xab00";
    (* lut_function="(A+(B))", lineinfo="@3(89[7],89[42])" *) LUT4 i75_2_lut (.A(n278[0]), 
            .B(n278[2]), .Z(n85));
    defparam i75_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B))" *) LUT4 i897_2_lut (.A(R_press[1]), .B(R_press[0]), 
            .Z(n1034));
    defparam i897_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B))" *) LUT4 i987_2_lut (.A(C_c_2), .B(C_c_0), 
            .Z(n1124));
    defparam i987_2_lut.INIT = "0xeeee";
    (* lut_function="(!(A (B)+!A !(B)))" *) LUT4 i85_2_lut (.A(R_press[0]), 
            .B(R_press[1]), .Z(n44));
    defparam i85_2_lut.INIT = "0x6666";
    (* lut_function="(!(A+((C (D)+!C !(D))+!B)))" *) LUT4 i2_4_lut (.A(R_press[1]), 
            .B(R_press[0]), .C(C_c_0), .D(C_c_2), .Z(n59));
    defparam i2_4_lut.INIT = "0x0440";
    (* lut_function="(!((B)+!A))" *) LUT4 i1_2_lut (.A(R_press[2]), .B(n1921), 
            .Z(n576));
    defparam i1_2_lut.INIT = "0x2222";
    (* lut_function="(A (B+(C+(D)))+!A !((C+(D))+!B))", lineinfo="@2(27[18],27[20])" *) LUT4 i859_4_lut (.A(s2[0]), 
            .B(s1[0]), .C(n278[0]), .D(n278[2]), .Z(s2[0]));
    defparam i859_4_lut.INIT = "0xaaac";
    (* lut_function="(A (B+(C+(D)))+!A !((C+(D))+!B))", lineinfo="@3(88[2],97[5])" *) LUT4 i513_4_lut (.A(\s2[1] ), 
            .B(\s1[1] ), .C(n278[0]), .D(n278[2]), .Z(\s2[1] ));
    defparam i513_4_lut.INIT = "0xaaac";
    (* lut_function="(A (B+(C+(D)))+!A !((C+(D))+!B))", lineinfo="@3(88[2],97[5])" *) LUT4 i515_4_lut (.A(\s2[2] ), 
            .B(\s1[2]_2 ), .C(n278[0]), .D(n278[2]), .Z(\s2[2] ));
    defparam i515_4_lut.INIT = "0xaaac";
    (* lut_function="(A (B+(C+(D)))+!A !((C+(D))+!B))", lineinfo="@3(88[2],97[5])" *) LUT4 i517_4_lut (.A(\s2[3] ), 
            .B(\s1[3] ), .C(n278[0]), .D(n278[2]), .Z(\s2[3] ));
    defparam i517_4_lut.INIT = "0xaaac";
    (* lut_function="(!(A+((C+(D))+!B)))" *) LUT4 i2_3_lut_4_lut (.A(C_c_0), 
            .B(n73), .C(R_press[1]), .D(R_press[0]), .Z(n1942));
    defparam i2_3_lut_4_lut.INIT = "0x0004";
    (* lineinfo="@3(77[3],85[10])" *) FD1P3XZ state_FSM_i1 (.D(n481), .SP(VCC_net), 
            .CK(clk), .SR(n4), .Q(n278[0]));
    defparam state_FSM_i1.REGSET = "SET";
    defparam state_FSM_i1.SRMODE = "CE_OVER_LSR";
    
endmodule

//
// Verilog Description of module debounce
//

module debounce (output debounce_done, input clk, output n4, input reset_c, 
            input n7, output n329);
    
    wire debounce_wait;
    (* is_clock=1, lineinfo="@2(17[8],17[11])" *) wire clk;
    
    wire VCC_net, GND_net;
    
    VLO i2 (.Z(GND_net));
    (* LSE_LINE_FILE_ID=77, LSE_LCOL=10, LSE_RCOL=72, LSE_LLINE=15, LSE_RLINE=15, lineinfo="@1(15[10],15[72])" *) counter debounce_counter (clk, 
            debounce_wait, n4, reset_c, n7, n329);
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=11, LSE_RCOL=76, LSE_LLINE=45, LSE_RLINE=45, lineinfo="@1(18[12],21[5])" *) FD1P3XZ debounce_done_c (.D(debounce_wait), 
            .SP(VCC_net), .CK(clk), .SR(GND_net), .Q(debounce_done));
    defparam debounce_done_c.REGSET = "RESET";
    defparam debounce_done_c.SRMODE = "CE_OVER_LSR";
    VHI i1 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module counter
//

module counter (input clk, output debounce_wait, output n4, input reset_c, 
            input n7, output n329);
    
    wire [23:0]count;
    (* is_clock=1, lineinfo="@2(17[8],17[11])" *) wire clk;
    
    wire n1654, n3091, GND_net;
    wire [23:0]n101;
    
    wire n333, n1652, n3088, n1650, n3085, n1648, n3082, n539, 
        n1646, n3079, n1644, n3076, n535, n1642, n3073, n1640, 
        n3070, n1638, n3067, n1636, n3064, n28, n32, n30, n31, 
        n1634, n3061, n29, n1927, n1632, n3058, n2264, n3052, 
        VCC_net;
    
    (* lineinfo="@0(28[18],28[30])" *) FA2 count_241_add_4_25 (.A0(GND_net), 
            .B0(GND_net), .C0(count[23]), .D0(n1654), .CI0(n1654), .A1(GND_net), 
            .B1(GND_net), .C1(GND_net), .D1(n3091), .CI1(n3091), .CO0(n3091), 
            .S0(n101[23]));
    defparam count_241_add_4_25.INIT0 = "0xc33c";
    defparam count_241_add_4_25.INIT1 = "0xc33c";
    (* LSE_LINE_FILE_ID=77, LSE_LCOL=10, LSE_RCOL=72, LSE_LLINE=15, LSE_RLINE=15, lineinfo="@0(18[12],30[5])" *) FD1P3XZ new_clk (.D(n539), 
            .SP(VCC_net), .CK(clk), .SR(n4), .Q(debounce_wait));
    defparam new_clk.REGSET = "RESET";
    defparam new_clk.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@0(28[18],28[30])" *) FA2 count_241_add_4_23 (.A0(GND_net), 
            .B0(GND_net), .C0(count[21]), .D0(n1652), .CI0(n1652), .A1(GND_net), 
            .B1(GND_net), .C1(count[22]), .D1(n3088), .CI1(n3088), .CO0(n3088), 
            .CO1(n1654), .S0(n101[21]), .S1(n101[22]));
    defparam count_241_add_4_23.INIT0 = "0xc33c";
    defparam count_241_add_4_23.INIT1 = "0xc33c";
    (* lineinfo="@0(28[18],28[30])" *) FA2 count_241_add_4_21 (.A0(GND_net), 
            .B0(GND_net), .C0(count[19]), .D0(n1650), .CI0(n1650), .A1(GND_net), 
            .B1(GND_net), .C1(count[20]), .D1(n3085), .CI1(n3085), .CO0(n3085), 
            .CO1(n1652), .S0(n101[19]), .S1(n101[20]));
    defparam count_241_add_4_21.INIT0 = "0xc33c";
    defparam count_241_add_4_21.INIT1 = "0xc33c";
    (* lineinfo="@0(28[18],28[30])" *) FA2 count_241_add_4_19 (.A0(GND_net), 
            .B0(GND_net), .C0(count[17]), .D0(n1648), .CI0(n1648), .A1(GND_net), 
            .B1(GND_net), .C1(count[18]), .D1(n3082), .CI1(n3082), .CO0(n3082), 
            .CO1(n1650), .S0(n101[17]), .S1(n101[18]));
    defparam count_241_add_4_19.INIT0 = "0xc33c";
    defparam count_241_add_4_19.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_241__i23 (.D(n101[23]), 
            .SP(VCC_net), .CK(clk), .SR(n333), .Q(count[23]));
    defparam count_241__i23.REGSET = "RESET";
    defparam count_241__i23.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@0(28[18],28[30])" *) FA2 count_241_add_4_17 (.A0(GND_net), 
            .B0(GND_net), .C0(count[15]), .D0(n1646), .CI0(n1646), .A1(GND_net), 
            .B1(GND_net), .C1(count[16]), .D1(n3079), .CI1(n3079), .CO0(n3079), 
            .CO1(n1648), .S0(n101[15]), .S1(n101[16]));
    defparam count_241_add_4_17.INIT0 = "0xc33c";
    defparam count_241_add_4_17.INIT1 = "0xc33c";
    (* lineinfo="@0(28[18],28[30])" *) FA2 count_241_add_4_15 (.A0(GND_net), 
            .B0(GND_net), .C0(count[13]), .D0(n1644), .CI0(n1644), .A1(GND_net), 
            .B1(GND_net), .C1(count[14]), .D1(n3076), .CI1(n3076), .CO0(n3076), 
            .CO1(n1646), .S0(n101[13]), .S1(n101[14]));
    defparam count_241_add_4_15.INIT0 = "0xc33c";
    defparam count_241_add_4_15.INIT1 = "0xc33c";
    (* lut_function="(A (B)+!A !(B))" *) LUT4 i1_2_lut (.A(debounce_wait), 
            .B(n535), .Z(n539));
    defparam i1_2_lut.INIT = "0x9999";
    (* lineinfo="@0(28[18],28[30])" *) FA2 count_241_add_4_13 (.A0(GND_net), 
            .B0(GND_net), .C0(count[11]), .D0(n1642), .CI0(n1642), .A1(GND_net), 
            .B1(GND_net), .C1(count[12]), .D1(n3073), .CI1(n3073), .CO0(n3073), 
            .CO1(n1644), .S0(n101[11]), .S1(n101[12]));
    defparam count_241_add_4_13.INIT0 = "0xc33c";
    defparam count_241_add_4_13.INIT1 = "0xc33c";
    (* lineinfo="@0(28[18],28[30])" *) FA2 count_241_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(count[9]), .D0(n1640), .CI0(n1640), .A1(GND_net), 
            .B1(GND_net), .C1(count[10]), .D1(n3070), .CI1(n3070), .CO0(n3070), 
            .CO1(n1642), .S0(n101[9]), .S1(n101[10]));
    defparam count_241_add_4_11.INIT0 = "0xc33c";
    defparam count_241_add_4_11.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_241__i22 (.D(n101[22]), 
            .SP(VCC_net), .CK(clk), .SR(n333), .Q(count[22]));
    defparam count_241__i22.REGSET = "RESET";
    defparam count_241__i22.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_241__i21 (.D(n101[21]), 
            .SP(VCC_net), .CK(clk), .SR(n333), .Q(count[21]));
    defparam count_241__i21.REGSET = "RESET";
    defparam count_241__i21.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_241__i20 (.D(n101[20]), 
            .SP(VCC_net), .CK(clk), .SR(n333), .Q(count[20]));
    defparam count_241__i20.REGSET = "RESET";
    defparam count_241__i20.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_241__i19 (.D(n101[19]), 
            .SP(VCC_net), .CK(clk), .SR(n333), .Q(count[19]));
    defparam count_241__i19.REGSET = "RESET";
    defparam count_241__i19.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_241__i18 (.D(n101[18]), 
            .SP(VCC_net), .CK(clk), .SR(n333), .Q(count[18]));
    defparam count_241__i18.REGSET = "RESET";
    defparam count_241__i18.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_241__i17 (.D(n101[17]), 
            .SP(VCC_net), .CK(clk), .SR(n333), .Q(count[17]));
    defparam count_241__i17.REGSET = "RESET";
    defparam count_241__i17.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_241__i16 (.D(n101[16]), 
            .SP(VCC_net), .CK(clk), .SR(n333), .Q(count[16]));
    defparam count_241__i16.REGSET = "RESET";
    defparam count_241__i16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_241__i15 (.D(n101[15]), 
            .SP(VCC_net), .CK(clk), .SR(n333), .Q(count[15]));
    defparam count_241__i15.REGSET = "RESET";
    defparam count_241__i15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_241__i14 (.D(n101[14]), 
            .SP(VCC_net), .CK(clk), .SR(n333), .Q(count[14]));
    defparam count_241__i14.REGSET = "RESET";
    defparam count_241__i14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_241__i13 (.D(n101[13]), 
            .SP(VCC_net), .CK(clk), .SR(n333), .Q(count[13]));
    defparam count_241__i13.REGSET = "RESET";
    defparam count_241__i13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_241__i12 (.D(n101[12]), 
            .SP(VCC_net), .CK(clk), .SR(n333), .Q(count[12]));
    defparam count_241__i12.REGSET = "RESET";
    defparam count_241__i12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_241__i11 (.D(n101[11]), 
            .SP(VCC_net), .CK(clk), .SR(n333), .Q(count[11]));
    defparam count_241__i11.REGSET = "RESET";
    defparam count_241__i11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_241__i10 (.D(n101[10]), 
            .SP(VCC_net), .CK(clk), .SR(n333), .Q(count[10]));
    defparam count_241__i10.REGSET = "RESET";
    defparam count_241__i10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_241__i9 (.D(n101[9]), 
            .SP(VCC_net), .CK(clk), .SR(n333), .Q(count[9]));
    defparam count_241__i9.REGSET = "RESET";
    defparam count_241__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_241__i8 (.D(n101[8]), 
            .SP(VCC_net), .CK(clk), .SR(n333), .Q(count[8]));
    defparam count_241__i8.REGSET = "RESET";
    defparam count_241__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_241__i7 (.D(n101[7]), 
            .SP(VCC_net), .CK(clk), .SR(n333), .Q(count[7]));
    defparam count_241__i7.REGSET = "RESET";
    defparam count_241__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_241__i6 (.D(n101[6]), 
            .SP(VCC_net), .CK(clk), .SR(n333), .Q(count[6]));
    defparam count_241__i6.REGSET = "RESET";
    defparam count_241__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_241__i5 (.D(n101[5]), 
            .SP(VCC_net), .CK(clk), .SR(n333), .Q(count[5]));
    defparam count_241__i5.REGSET = "RESET";
    defparam count_241__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_241__i4 (.D(n101[4]), 
            .SP(VCC_net), .CK(clk), .SR(n333), .Q(count[4]));
    defparam count_241__i4.REGSET = "RESET";
    defparam count_241__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_241__i3 (.D(n101[3]), 
            .SP(VCC_net), .CK(clk), .SR(n333), .Q(count[3]));
    defparam count_241__i3.REGSET = "RESET";
    defparam count_241__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_241__i2 (.D(n101[2]), 
            .SP(VCC_net), .CK(clk), .SR(n333), .Q(count[2]));
    defparam count_241__i2.REGSET = "RESET";
    defparam count_241__i2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_241__i1 (.D(n101[1]), 
            .SP(VCC_net), .CK(clk), .SR(n333), .Q(count[1]));
    defparam count_241__i1.REGSET = "RESET";
    defparam count_241__i1.SRMODE = "CE_OVER_LSR";
    VLO i1 (.Z(GND_net));
    (* lineinfo="@0(28[18],28[30])" *) FA2 count_241_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(count[7]), .D0(n1638), .CI0(n1638), .A1(GND_net), 
            .B1(GND_net), .C1(count[8]), .D1(n3067), .CI1(n3067), .CO0(n3067), 
            .CO1(n1640), .S0(n101[7]), .S1(n101[8]));
    defparam count_241_add_4_9.INIT0 = "0xc33c";
    defparam count_241_add_4_9.INIT1 = "0xc33c";
    (* lut_function="(!(A))", lineinfo="@2(31[6],31[12])" *) LUT4 i5_1_lut (.A(reset_c), 
            .Z(n4));
    defparam i5_1_lut.INIT = "0x5555";
    (* lineinfo="@0(28[18],28[30])" *) FA2 count_241_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(count[5]), .D0(n1636), .CI0(n1636), .A1(GND_net), 
            .B1(GND_net), .C1(count[6]), .D1(n3064), .CI1(n3064), .CO0(n3064), 
            .CO1(n1638), .S0(n101[5]), .S1(n101[6]));
    defparam count_241_add_4_7.INIT0 = "0xc33c";
    defparam count_241_add_4_7.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(24[8],24[27])" *) LUT4 i10_4_lut (.A(count[13]), 
            .B(count[19]), .C(count[20]), .D(count[2]), .Z(n28));
    defparam i10_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C)))", lineinfo="@0(24[8],24[27])" *) LUT4 i14_3_lut (.A(count[12]), 
            .B(n28), .C(count[18]), .Z(n32));
    defparam i14_3_lut.INIT = "0xfefe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(24[8],24[27])" *) LUT4 i12_4_lut (.A(count[14]), 
            .B(count[6]), .C(count[21]), .D(count[0]), .Z(n30));
    defparam i12_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(24[8],24[27])" *) LUT4 i13_4_lut (.A(count[23]), 
            .B(count[1]), .C(count[22]), .D(count[3]), .Z(n31));
    defparam i13_4_lut.INIT = "0xfffe";
    (* lineinfo="@0(28[18],28[30])" *) FA2 count_241_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(count[3]), .D0(n1634), .CI0(n1634), .A1(GND_net), 
            .B1(GND_net), .C1(count[4]), .D1(n3061), .CI1(n3061), .CO0(n3061), 
            .CO1(n1636), .S0(n101[3]), .S1(n101[4]));
    defparam count_241_add_4_5.INIT0 = "0xc33c";
    defparam count_241_add_4_5.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(24[8],24[27])" *) LUT4 i11_4_lut (.A(count[4]), 
            .B(count[17]), .C(count[11]), .D(count[8]), .Z(n29));
    defparam i11_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(24[8],24[27])" *) LUT4 i17_4_lut (.A(n29), 
            .B(n31), .C(n30), .D(n32), .Z(n1927));
    defparam i17_4_lut.INIT = "0xfffe";
    (* lineinfo="@0(28[18],28[30])" *) FA2 count_241_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(count[1]), .D0(n1632), .CI0(n1632), .A1(GND_net), 
            .B1(GND_net), .C1(count[2]), .D1(n3058), .CI1(n3058), .CO0(n3058), 
            .CO1(n1634), .S0(n101[1]), .S1(n101[2]));
    defparam count_241_add_4_3.INIT0 = "0xc33c";
    defparam count_241_add_4_3.INIT1 = "0xc33c";
    (* lut_function="(A (B (C (D))))" *) LUT4 i1923_4_lut (.A(count[15]), 
            .B(count[7]), .C(count[5]), .D(count[9]), .Z(n2264));
    defparam i1923_4_lut.INIT = "0x8000";
    (* lut_function="(((C+!(D))+!B)+!A)" *) LUT4 i6_4_lut (.A(count[16]), 
            .B(n2264), .C(n1927), .D(count[10]), .Z(n535));
    defparam i6_4_lut.INIT = "0xf7ff";
    (* lut_function="(!(A (B)))" *) LUT4 i2209_2_lut (.A(n535), .B(reset_c), 
            .Z(n333));
    defparam i2209_2_lut.INIT = "0x7777";
    (* lut_function="(!(A (B)))" *) LUT4 i2230_2_lut (.A(reset_c), .B(n7), 
            .Z(n329));
    defparam i2230_2_lut.INIT = "0x7777";
    (* lineinfo="@0(28[18],28[30])" *) FA2 count_241_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(count[0]), .D1(n3052), .CI1(n3052), .CO0(n3052), .CO1(n1632), 
            .S1(n101[0]));
    defparam count_241_add_4_1.INIT0 = "0xc33c";
    defparam count_241_add_4_1.INIT1 = "0xc33c";
    VHI i2 (.Z(VCC_net));
    (* syn_use_carry_chain=1, lineinfo="@0(28[18],28[30])" *) FD1P3XZ count_241__i0 (.D(n101[0]), 
            .SP(VCC_net), .CK(clk), .SR(n333), .Q(count[0]));
    defparam count_241__i0.REGSET = "RESET";
    defparam count_241__i0.SRMODE = "CE_OVER_LSR";
    
endmodule
